@import url('https://fonts.cdnfonts.com/css/lufga');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.color-palette-1 {
    background-color: #A8D8EA
}

.color-palette-2 {
    background-color: #AA96DA
}

.color-palette-3 {
    background-color: #FCBAD3
}

.color-palette-4 {
    background-color: #FFFFD2
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Lufga', sans-serif;
    background-color: white;
    color: black;
}


.title-head {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.input-step {
    height: 100dvh;
    display: flex;
    align-items: center;
}


.step-circle {
    background-color: lightgray;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-step {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 999;
}

.step-connector {
    height: 100vh;
    background-color: lightgray;
    position: absolute;
    width: 7px;
    top: 24.3%;
    left: 18%;
    z-index: -1;
}

.user-table {
    width: 100%;
}

    .user-table thead tr th:first-child {
        width: 10%;
    }

    .user-table thead tr th:nth-child(2) {
        width: 45%;
    }

    .user-table thead tr th:nth-child(3) {
        width: 45%;
    }

.button-add {
    position: absolute;
    right: 10%;
    bottom: 10%;
    padding: 20px 24px;
    transition: ease-in-out 100ms;
}

    .button-add:hover {
        transform: scale(1.1);
    }

    .button-add i {
        color: white;
        font-size: 17px;
    }

.project-card {
    width: 315px;
    height: 150px;
    border: none;
    text-decoration: none;
    color: #F3F4EE;
    color: #121721;
    transition: ease-in-out 200ms;
}

    .project-card:hover {
        color: #121721;
        transform: scale(1.02);
    }

#projectName {
    width: 50%;
}

#projectDescription {
    width: 75%;
    height: 100px;
}

.projectDatePicker {
    width: 15rem;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.profile-avatar img {
    background-color: lightgray;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 2px solid white;
    object-fit: cover;
    object-position: center;
}

.profile-avatar {
    margin-left: -5px;
}

.other-participant {
    background-color: lightgray;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid white;
    margin-left: -5px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    align-content: center;
    color: white;
}

.profile-avatar:first-child {
    margin-left: 0px;
}

.profile-avatar i {
    color: #121721;
    font-size: 13px;
}

.project-date {
    display: flex;
    align-items: center;
    gap: 13px;
    font-weight: 300;
}

    .project-date i {
        font-size: 20px;
    }

.page-title {
    color: #121721;
}

    .page-title p span {
        color: #478CCF;
        font-weight: bold;
    }

.task-info {
    background-color: #F3F4EE;
    padding: 12px 24px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    color: black;
    text-decoration: none;
    margin-right: 8px;
}

.task-badge {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 11px;
}

.task-info:hover {
    background-color: #121721;
    color: white;
}

.task-info-2 p {
    font-size: 12px;
}

.task-info-2 h1 {
    font-weight: normal;
}

.modal-content {
    height: fit-content;
    border: none;
    box-shadow: none;
    border-radius: 24px;
}

.modal-dialog {
    min-width: 700px;
}

.task-form textarea {
    height: 100px;
    resize: none;
    font-size: 20px;
    border: none;
    font-weight: 300;
}

    .task-form textarea:focus {
        outline: none;
    }

.task-form .input-title {
    font-size: 20px;
    border: none;
    font-weight: 300;
}

.task-form input:focus {
    outline: none
}

.assign-to {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.taskDatePicker {
    width: 15rem;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.btn-sub {
    border-radius: 9999px;
    border: none;
    padding: 4px 8px;
}

.task-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 12px;
}

.task-card {
    width: 333px;
    height: 200px;
    padding: 20px;
}

.task-avatar {
    background-color: #F5F7F8;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

    .task-avatar img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
    }

.task-title {
    font-size: 15px;
    color: black;
}

.task-assign :first-child {
    font-weight: 500;
    font-size: 0.8em;
}

.task-assign :nth-child(2) {
    font-size: 13px;
    font-weight: 300;
}

.dropdown-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: transparent;
    border: none;
}

    .dropdown-btn:hover {
        border: 1px solid #F5F7F8;
    }

.project-btn {
    border-radius: 100%;
    background-color: #F3F4EE;
    padding: 12px 16px;
    margin-right: 8px;
    cursor: pointer;
    color: #121721;
}

    .project-btn:hover {
        background-color: #121721;
        color: white;
    }

.progress-bar {
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 9999px;
}

.progress-container p {
    font-size: 11px;
    font-weight: bold;
}

.task-complete {
    background-color: #121721;
}

.floating-nav {
    background-color: lightgray;
    position: fixed;
    bottom: 5%;
    left: 45.5%;
    display: flex;
    gap: 4px;
    padding: 7px;
    border-radius: 9999px;
}

    .floating-nav .float-item {
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        transition: ease-in-out 200ms;
        cursor: pointer;
        border: none;
    }

.float-item:hover {
    background-color: #121721;
    color: white;
}

.floating-nav .float-item:not(:nth-child(2)) i {
    font-size: 18px;
}

.floating-nav .float-item:nth-child(2) i {
    font-size: 15px;
}

.floating-nav .float-item:nth-child(3) i {
    font-size: 15px;
}

.dd-menu {
    border-radius: 30px;
    border: none;
    background-color: lightgray;
}

.dd-item {
    border-radius: 22px;
    background-color: white;
    cursor: pointer;
}

    .dd-item:hover {
        background-color: #121721
    }

#project-nav {
    position: sticky;
    top: 0%;
    background-color: white;
    z-index: 9;
}

.profile-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

.cover-photo {
    width: 100%;
    height: 200px;
    background-color: gray;
}

.profile-photo {
    position: relative;
    top: -100px;
    margin-bottom: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    margin: 0 auto;
}

    .profile-photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: lightgray;
    }

.profile-info {
    padding: 20px;
    margin-top: -100px;
}

.counts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    font-size: 14px;
}

    .counts .data-head {
        color: slategray;
    }

.name-verified {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

    .name-verified h2 {
        font-size: 40px;
        margin: 0;
    }

#submit-photo {
    display: none;
}

.btn-upload h5 {
    font-size: 16px;
}

.desc-project {
    color: lightslategray;
    width: 50rem;
}

.pdf-table {
    width: 100%;
    font-size: 15px;
}

    .pdf-table thead tr th:nth-child(n+3) {
        width: 12%;
    }

    .pdf-table tbody tr td:nth-child(n+3) {
        text-align: center;
    }

.project-info p {
    font-size: 11px;
    color: lightslategray;
}

.project-info h2 {
    font-weight: 400;
}

#pdf-report {
    font-family: 'Times New Roman', Times, serif;
}

.project-info-container {
    display: flex;
    gap: 5rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 12px;
}

.custom-tooltip {
    --bs-tooltip-font-size: 12px;
}

#btn-chat {
    display: none;
}


.bubble-chat {
    font-size: 12px;
    width: fit-content;
    max-width: 80%;
    padding: 4px;
    display: flex;
    flex-flow: column;
    border-radius: 8px;
    padding: 4px 10px 4px 10px;

    margin: 10px 0px;
}

    .bubble-chat.user {
        margin-left: auto;
        background-color: #FCBAD3;
    }
    .bubble-chat.other {
        margin-right: auto;
        background-color: #A8D8EA;
    }

    .bubble-chat.other::before {
        content: '';
        position: relative;
        left: -21px;
        bottom: -6px;
        width:0;
        height:0;
        border: 15px solid transparent;
        border-top-color: #A8D8EA;
        border-bottom: 0;
        border-right: 0;
        margin-left: 2px;
        margin-top: -10px;
    }
    .bubble-chat.user::before {
        content: '';
        position: relative;
        left: 19px;
        bottom: -6px;
        border: 15px solid transparent;
        border-top-color: #FCBAD3;
        border-bottom: 0;
        border-left: 0;
        margin-left: auto;
        margin-top: -10px;
    }


    .bubble-chat p {
        margin: 0px;
    }

        .bubble-chat p:first-child {
            font-weight: bold;
        }
    .bubble-chat.user p {
        text-align:end
    }

    .bubble-chat span{
        font-size:11px;
    }
    .bubble-chat.user span{
        text-align:start;
    }
    .bubble-chat.other span{
        text-align:end
    }

.chat-container {
    padding: 0px
}

.message-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

    .message-container #messagesList {
        overflow: auto;
        padding: 10px 20px;
        height:100%;
        scroll-behavior:smooth;
    }
    .message-container #messagesList::-webkit-scrollbar {
        width:8px;
    }
        .message-container #messagesList::-webkit-scrollbar-thumb {
            background-color: lightgrey;
            border-radius: 50px;
        }

    .message-container .input-section {
        position: sticky;
        bottom: 0%;
        background-color: white;
        padding: 10px 20px;
        display: flex;
        gap: 10px;
    }

.input-section input {
    width: 100%;
    border-radius: 9999px;
    border: 1px solid lightslategray;
    padding: 0px 20px;
}

#messageInput:focus {
    outline: none;
}

.send-button {
    all: unset;
    background-color: #AA96DA;
    padding: 5px 9px;
    border-radius: 100%;
    color: white;
}